<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers list</title>
</head>
<body>

    <form>
        <label for="tfname">First name:</label><br>
        <input type="text" id="tfname" name="tfname"><br>
        <label for="tlname">Last name:</label><br>
        <input type="text" id="tlname" name="tlname"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <button type="submit">Search</button>
    </form>

{{ teachers_list|safe }}

</body>
</html>