{% extends 'base.html' %}


{% block content %}

    <a href="{% url 'students:list' %}">Students</a>
    <a href="{% url 'teachers:list' %}">Teachers</a>
    <a href="{% url 'groups:list' %}">Groups</a>

    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="fname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <button type="submit">Search</button>
    </form>

    {% include 'includes/students_table.html' %}

{% endblock %}
