{% extends 'base.html' %}

{% block content %}

    <form>
        <label for="gname">Group name:</label><br>
        <input type="text" id="gname" name="gname"><br>
        <label for="gnum">Number of group:</label><br>
        <input type="text" id="gnum" name="gnum"><br>
        <button type="submit">Search</button>
    </form>

    {% for group in groups_list %}
        {{ group.id }}
        <a href="/groups/edit/{{group.id}}">{{ group.group_name }}  {{ group.group_number }}</a>
        <br>
    {% empty %}
        <p>Sorry, list is empty</p>
    {% endfor %}

{% endblock %}