{% if groups_list %}
    <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Group name</th>
              <th>Group number</th>
              <th>🖉</th>
              <th>🗑️</th>
            </tr>
          </thead>

        {% for group in groups_list %}
            <tr>
                <td> {{ group.id }} </td>
                <td> {{ group.group_name }} </td>
                <td> {{ group.group_number }} </td>
                <td> <a href="{% url 'groups:edit' group.id %}">EDIT</a> </td>
                <td> <a href="{% url 'groups:delete' group.id %}">DEL</a> </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}